*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.grid-container{
    border: 6px solid crimson;
    min-height: 100vh;
    display: grid;
    /*minmax is a method which makes different design to make responsive website*/
    grid-template-columns: 1fr minmax(400px,800px) 1fr;
    grid-template-rows: repeat(2,1fr);
}
.item{
    padding: 2rem;
    background-color: aliceblue;
    font-weight: bold;
    text-align: center;
    border: 3px solid green;
    color: #fff;
}
.item1{
    background-color: rgb(92, 29, 148);
}
.item2{
    background-color: rgb(32, 174, 37);
}
.item3{
    background-color: rgb(207, 147, 50);
}
.item4{
    background-color: rgb(255, 0, 208);
}
.item5{
    background-color: rgb(81, 57, 161);
}
.item6{
    background-color: rgb(150, 148, 225);
}
.item7{
    background-color: rgb(66, 80, 80);
}
.item8{
    background-color: rgb(150, 209, 55);
}